body{
    background-color: #e8e8e8;
    text-align: center;
    margin: 0;
}
footer{
    background-color: #666;
}
footer ul li {
    display: table-row-group;
    font-size: 20px;
}
footer ul{
    padding-left: 0px;
}
.navbar{
    opacity: 1;
    background-color:gray;
    height: 50px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

.nav-right{
    float: right;
    display: relative;
    overflow: hidden;
}
.navbar a{
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 25px;
    display: inline;

  }
.navbar a:hover{
    background-color: maroon;
}

